{
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "semi": true,
  "commaSpacing": true,
  "objectCurlySpacing": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "singleAttributePerLine": true
}
